.ContainerRowList{
    width: 99%;
    border: solid 1px transparent;
    border-radius: 2%;
    margin: 4px;
    padding: 10px;
    cursor: pointer;
    transition: transform .1s linear;
    background: rgb(238, 238, 238);
}

.ContainerRowList:hover {
    transform: scale(1.02);
    background: rgb(228, 228, 228);
    color: rgb(58, 56, 56);
}

.ContainerRowList .col {
    text-align: left;
    font-weight: 450;
}

.ContainerRowList span {
    font-weight: 100;
}